@model RUbook.Models.Post


@{
    ViewBag.Title = "Create Post on Timeline";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">My Groups</div>
                   
                        <ul class="list-group">
                            <a href="#" class="list-group-item">Bla</a>
                        </ul>   
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">My Events</div>
                    <ul class="list-group">
                        <a href="#" class="list-group-item">Vestibulum at eros</a>
                        <a href="#" class="list-group-item">Vestibulum at eros</a>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    @Html.TextAreaFor(model => model.text, new { @class = "newpost", rows = 3, cols = 55, placeholder = "Something on your mind?" })
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Create" class="btn btn-info" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Create Group", "Create", "Groups")</button>

                    
                </div>
                <br>
                 <div>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Create Event", "Create", "Events")</button>
                </div>
            </div>
        </div>

    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
