@model RUbook.Models.Post

@{
    ViewBag.Title = "Details";
 }


<div>
    <h4>@Model.UserID.FirstName @Model.UserID.LastName</h4>
    <h5>@Html.DisplayFor(model => model.DateCreated)</h5>


    <hr />
    <dl class="form-horizontal">       
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dd>
            @if (Model.Image != null)
            {
                <img src="@Html.DisplayFor(model =>model.Image)" alt="Hérna er mynd" style="width:299px; height:228px" />
            }
        </dd>
    </dl>
    
    
</div>

<hr />

<div>
    <section id="comment-list">
        <h4>Comments</h4>
        @foreach (var comment in Model.Comments)
        {
            <p>@Model.UserID.FirstName @Model.UserID.LastName | @comment.Text</p>
            <p>@comment.CreatedDate</p>
        }
    </section>
    <section>
        <h4>Add comment</h4>
        @using (Html.BeginForm("CommentOnPost", "Comments", FormMethod.Post, new { id = "CommentForm" }))
        {
            <input type="hidden" id="postid" name="postid" value="@Model.ID" />
            <div class="form-horizontal">
                <label class="sr-only" for="posttext">Post</label>
                <textarea id="commentToAdd" class="form-control" rows="5" name="posttext" style="max-width:100%"></textarea>
                <button type="submit" class="btn btn-primary">Send</button>
            </div>
            @Html.ValidationSummary(false)
        }
    </section>

    <p>
        @Html.ActionLink("Go back", "Index", "Home")
    </p>

</div>