@model RUbook.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>

    <h4>@Html.DisplayFor(model => model.DateOfEvent)</h4>

    <hr />

    <div class="col-md-3">   

        @if (@Html.DisplayFor(model => model.Image) == null)
        {
            <img src="https://d18qs7yq39787j.cloudfront.net/public/defaults/default_group.png" alt="Group photo" style="width:270px; height:228px" />

        }

        else
        {
            <img src="@Html.DisplayFor(model =>model.Image)" alt="Group photo" style="width:270px; height:228px" />

        }

     </div>

    <div class="col-md-6">

        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.Name, "Name of Event")
                
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <!--Hérna þurfum við að fá date og time til að vera sitt hvort eða fá þetta til að birtast fallegra-->
            <dt>
                @Html.LabelFor(model => model.DateOfEvent, "DateTime")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfEvent)
            </dd>

            <dt>
                @Html.LabelFor(model => model.Text, "Information")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Text)
            </dd>

        </dl>

        <p> Hérna viljum við að event posts komi</p>
    </div>

    <div class="col-md-3">
        <div>
            <button type="button" class="btn btn-default">@Html.ActionLink("Create Group", "Create", "Groups")</button>
            <button type="button" class="btn btn-default">@Html.ActionLink("Create Event", "Create", "Events")</button>
          
            
        </div>

        <br/>
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">Attending Event</div>

            <ul class="list-group">

                <!--Linkur á notanda sem er skráðður í event-->
                <a href="#" class="list-group-item">Notandi 1</a>
                <a href="#" class="list-group-item">Notandi 2</a>

            </ul>
        </div>


        <!--er hérna í veseni með footer sem poppar alltaf upp ef dálkurinn er ekki nógu langur-->
        <br />
        <br />

        <br />
        <br />
 
    </div> 


</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}