@model RUbook.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>

    <hr />

    <div class="col-md-3">

        <!--Þessi if setning er ekki alveg að virka eins og hún á að gera, birtir aldrei default myndina-->
        @if (Model.Image == null || Model.Image == "")
        {
            <img src="https://d18qs7yq39787j.cloudfront.net/public/defaults/default_group.png" alt="Group photo" class="img-rounded" />
        }
        else
        {
            <img src="@Html.DisplayFor(model =>model.Image)" alt="Group photo" />
        }


        
        @Html.ActionLink("Edit Event", "Edit", new { id = Model.ID })
    </div>


    <div class="col-md-6">

        <div class="panel panel-collapse">
            <div class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.Name, "Name of Event")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <!--Hérna þurfum við að fá date og time til að vera sitt hvort eða fá þetta til að birtast fallegra-->
                <dt>
                    @Html.LabelFor(model => model.DateOfEvent, "DateTime")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateOfEvent)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Text, "Information")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Text)
                </dd>
                <!--hérna mætti tengja departmentID við líka-->
            </div>
        </div>
        <div class="panel panel-heading">
            <div>
                <p>Hérna eiga Event Posts að koma!</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div>
            <button type="button" class="btn btn-default">@Html.ActionLink("Create Group", "Create", "Groups")</button>
            <button type="button" class="btn btn-default">@Html.ActionLink("Create Event", "Create", "Events")</button>
        </div>

        <br />
        <div>
            <!--hérna vatnar action link til að attenda event-->
            <button type="button" class="btn btn-primary btn-block">@Html.ActionLink("Attend Event", "Create", "EventMembers", new { id = Model.ID }, null) </button>

        </div>

        <br />


        <div class="panel panel-default">
            <div class="panel-heading">Attending Event</div>

            <ul class="list-group">

                <!-- hérna mætti gera ajax svo hann birist strax í fólk sem ætlar að attenda-->
                <!--Linkur á notanda sem er skráðður í event-->
                <a href="#" class="list-group-item">Notandi 1</a>
                <a href="#" class="list-group-item">Notandi 2</a>

            </ul>
        </div>


        <!--er hérna í veseni með footer sem poppar alltaf upp ef dálkurinn er ekki nógu langur-->
        <br />
        <br />

        <br />
        <br />

    </div>


</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}