@model RUbook.Models.ViewModels.EventViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Event.Name)</h2>

<div>

    <hr />

    <div class="col-md-3">

        <!--Þessi if setning er ekki alveg að virka eins og hún á að gera, birtir aldrei default myndina-->
        @if (Model.Event.Image == null || Model.Event.Image == "")
        {
            <img src="https://d18qs7yq39787j.cloudfront.net/public/defaults/default_group.png" alt="Group photo" class="img-rounded" />
        }
        else
        {
            <img src="@Html.DisplayFor(model =>model.Event.Image)" alt="Event photo" />
        }

        @if (Model.Event.UserID.Id == User.Identity.GetUserId())
        {
           @Html.ActionLink("Edit Event", "Edit", new { id = Model.Event.ID })
        }

        
    </div>


    <div class="col-md-6">

        <div class="panel panel-collapse">
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.Event.Name, "Name of Event")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.Name)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Event.DateOfEvent, "DateTime")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.DateOfEvent)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Event.Text, "Information")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Event.Text)
                </dd>
            </dl>
        </div>
        <div class="panel panel-heading">
       
            <center>
                @Html.ActionLink("Create New Post For Event Wall", "Create", "Post", new { id = Model.Event.ID }, new { @class = "btn btn-default" })
            </center>
        </div>

        <br />

        @{if (Model.Event.EventPosts != null)
        {
            foreach (var eventPost in Model.Event.EventPosts)
            {
                <div class="well">
                    <p>@eventPost.Text</p>
                    @if (eventPost.Image != null)
                    {
                        <img src="@eventPost.Image" alt="Hérna er mynd" />
                    }

                    <p>@eventPost.DateCreated</p>

                    @eventPost.UserID.FirstName

                    @*<div class="left">
                        @Html.ActionLink("See Comments", "Details", "Post", new { id = Model.Event.ID }, new { @class = "" })
                    </div>*@

                </div>

            }
        }

        else
        {
            <p>There are no posts for this event!</p>
        }
        }

    </div>
</div>

<div class="col-md-3">
    <center>
        <div class="btn-group">
            @Html.ActionLink("Create Group", "Create", "Groups", new { @class = "btn btn-default" })
            @Html.ActionLink("Create Event", "Create", "Events", new { @class = "btn btn-default" })
        </div>
    </center>

    <br />
    <div>
        @Html.ActionLink("Attend Event", "Create", "EventMembers", new { id = Model.Event.ID }, new { @class = "btn btn-success btn-block linkcolor" })
    </div>
     
    <br />

    <div class="panel panel-default">
        <div class="panel-heading">Attending Event</div>

        <ul class="list-group">

           
            <li>
                @if (Model.EventMember != null)
                {
                    foreach (var member in Model.EventMember)
                    {
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-user" aria-hidden="true">
                            </span> @Html.ActionLink(member.FirstName, "Details", "UserInfoes", new { id = member.Id })
                        </div>
                    }
                }
            </li>
        </ul>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}