@model IEnumerable<RUbook.Models.Event>

@{
    ViewBag.Title = "All Events";
}

<h2>All Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfEvent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfEvent)
        </td>
        <td>
            <!--Hérna vantar virkni fyrir að joina Event-->
            @Html.ActionLink("Join Group", "Edit", new { id=item.ID }) 
           
        </td>
    </tr>
}

</table>
