@model IEnumerable<RUbook.Models.Event>

@{
    ViewBag.Title = "All Events";
}

<h2>All Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.LabelFor(model => model, "Name Of Event")
        </th>
        <th>
            @Html.LabelFor(model => model, "Date Of Event")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.ID })
        </td>
        <td>
          
            @Html.DisplayFor(modelItem => item.DateOfEvent)
        </td>
        <td>
            <!--Hérna vantar virkni fyrir að joina Event-->
            @Html.ActionLink("Attend Event", "Details", new { id=item.ID }) 
           
        </td>
    </tr>
}

</table>
