@model RUbook.Models.TimelineViewModel

@{
    ViewBag.Title = "My Timeline";
}



<!--Hér væri hægt að displaya Fullt nafn á innskráðum notanda með eftirfarandi - vantar að tengja-->
@*<h2>@Html.DisplayFor(model => model.UserInfo.FirstName) @Html.DisplayFor(model => model.UserInfo.LastName)</h2>*@
 
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">My Groups</div>

                    <ul class="list-group">
                        @foreach (var group in Model.AllGroups)
                        {
                            <div class="list-group-item">
                                @Html.ActionLink(group.Name, "Details", "Groups", new { id = group.ID }, new { @class = "" })
                            </div>
                        }
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">My Events</div>
                    <ul class="list-group">

                        @foreach (var item in Model.AllEvents)
                        {
                            <div class="list-group-item">
                                @Html.ActionLink(item.Name, "Details", "Events", new { id = item.ID }, new { @class = "" })
                            </div>
                        }
                    </ul>
                </div>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='date' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function(){
                    $('#datetimepicker6').data("DateTimePicker").FUNCTION();
                    $(function () {
                        $('#datetimepicker1').datetimepicker();
                    })
                });
                
            </script>


            <div class="col-md-6">
                <div class="input-group">
                    <!--þetta þarf að laga eða færa yfir í annað view ef þetta verður margnotað view-->
                    @*@Html.TextAreaFor(model => Model.Text, new { @class = "newpost", rows = 3, cols = 100, placeholder = "Something on your mind?" })*@
                </div>

                <!--Hér er button sem beinir á create post nýja síðu sem vísar síðan aftur hingað á tímalínuna-->
                <div>
                    <center>
                        <button type="button" class="btn btn-default">@Html.ActionLink("Create New Post For Timeline", "Create", "Post") </button>
                    </center>
                </div>

                <br>

                <div>
                    @{
                    if(Model.AllPosts != null)
                    {
                    foreach (var item in Model.AllPosts)
                    {
                        <div class="well">
                            <p>@item.Text</p>
                            @if (item.Image != null)
                            {
                                <img src="@item.Image" alt="Hérna er mynd" />

                            }
                           
                            <p>@item.DateCreated</p>
                    
                            
                            @Html.ActionLink("Add comment", "Details", "Post", new { id = item.ID }, new { @class = "" })
                            
                           
                       
                            <!--Hérna vatnar að sýna notendnafn eða email þess sem skrifa innlegg-->
                            <!--<p>item.UserEmail</p>-->
                        
                        </div>

                    }
                    }
                    else 
                    { 
                        <p>You have no posts!!!</p>
                    }
                    }

                </div>


            </div>
            <div class="col-md-3">
                <div>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Create Group", "Create", "Groups")</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Create Event", "Create", "Events")</button>

                </div>

                <br>

                <div class="panel panel-default">

                    <div class="panel-heading">My Friends</div>

                    <ul class="list-group">

                        <div>

                            @foreach (var item in Model.AllUsers)
                            {
                                <div class="well">
                                    @Html.ActionLink(item.Email, "Details", new { id = item.Id })
                                </div>
                            }
                        </div>

                    </ul>
                </div>
            </div>
        </div>



    }




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
