@model RUbook.Models.TimelineViewModel

@{
    ViewBag.Title = "My Timeline";
}


@if (Model.User.FirstName != null)
{
    <h3> @Model.User.FirstName @Model.User.LastName's Timeline</h3>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>

    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <div class="input-group">
                <!--þetta þarf að laga eða færa yfir í annað view ef þetta verður margnotað view-->
                @*@Html.TextAreaFor(model => Model.Text, new { @class = "newpost", rows = 3, cols = 100, placeholder = "Something on your mind?" })*@
            </div>

            <!--Hér er button sem beinir á create post nýja síðu sem vísar síðan aftur hingað á tímalínuna-->
            <div>
                <center>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Create New Post For Timeline", "Create", "Post") </button>
                </center>
            </div>

            <br>

            <div>
                @{if (Model.Posts != null)
                {
                    foreach (var item in Model.Posts)
                    {
                        <div class="well">
                            <p>@item.Text</p>
                            @if (item.Image != null)
                            {
                                <img src="@item.Image" alt="Hérna er mynd" />
                            }

                            <p>@item.DateCreated</p>

                            @item.UserID.FirstName
                            <div class="left">
                                @Html.ActionLink("See Comments", "Details", "Post", new { id = item.ID }, new { @class = "" })
                            </div>                
                        </div>

                    }
                }

                else
                {
                    <p>You have no posts!!!</p>
                }
             }

            </div>

   </div>

        <div class="col-md-3 col-md-pull-6 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">My Groups</div>
                <ul class="list-group">
                    @foreach (var group in Model.MyGroups)
                    {
                        <div class="list-group-item">
                            @Html.ActionLink(group.Name, "Details", "Groups", new { id = group.ID }, new { @class = "" })
                        </div>
                    }
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">My Events</div>
                <ul class="list-group">

                    @foreach (var eve in Model.MyEvents)
                    {
                        if (DateTime.Now < eve.DateOfEvent)
                        {
                            <div class="list-group-item">
                                @Html.ActionLink(eve.Name, "Details", "Events", new { id = eve.ID }, new { @class = "" })
                            </div>
                        }
                    }
                </ul>
            </div>

            <center>
                <div>
                    <div class="jquery-calendar"></div>
                </div>
            </center>


            <!-- @*Calendar1!*@
             <div class="form-group">
                 <div class='input-group date' id='datetimepicker1'>
                     <span class="input-group-addon">
                         <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                     <input type='date' class="form-control" />
                 </div>
             </div>

             <script type="text/javascript">
                 $(document).ready(function () {
                     $('#datetimepicker1').data("DateTimePicker").FUNCTION();
                     $(function () {
                         $('#datetimepicker1').datetimepicker();
                     })
                 });
             </script>-->
        </div>

        <br />

        <div class="col-md-3 col-sm-6">
            <center>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">@Html.ActionLink("Create Group", "Create", "Groups")</button>
                    <button type="button" class="btn btn-default">@Html.ActionLink("Create Event", "Create", "Events")</button>
                </div>
            </center>

            <br>

            <div class="panel panel-default">

                <div class="panel-heading">My Friends</div>

                <ul class="list-group">
                    <li>
                        @foreach (var item in Model.MyFriends)
                        {
                            <div class="list-group-item">
                                <span class="glyphicon glyphicon-user" aria-hidden="true">
                                </span> @Html.ActionLink(item.FirstName, "Details", "UserInfoes", new { id = item.Id }, null)
                            </div>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
﻿