@model RUbook.Models.TimelineViewModel

@{
    ViewBag.Title = "Rubook - Timeline";
}

@if (Model.User.FirstName != null && Model.User.LastName != null)
{
    <h3> @Model.User.FirstName @Model.User.LastName's Timeline</h3>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <br/>

            <!--Hér er button sem beinir á create post nýja síðu sem vísar síðan aftur hingað á tímalínuna-->
            <div>
                <center>
                   @Html.ActionLink("Create a New Post for Timeline", "Create", "Post", null, new { @class = "btn btn-default btn-block"})
                </center>
            </div>
           
            <br/>

            <div>
                @{if (Model.Posts != null)
                {
                    foreach (var item in Model.Posts)
                    {
                        <div class="well">
                            <h3>@item.UserID.FirstName @item.UserID.LastName</h3>
                            <p>@item.Text</p>
                            @if (item.Image != null)
                            {
                                <img src="@Html.DisplayFor(model => item.Image)" alt="Hérna er mynd" class="img-rounded" />
                            }

                            <hr />
                            <p>@item.DateCreated</p>

                           
                            <div class="left">
                                @Html.ActionLink("See Comments", "Details", "Post", new { id = item.ID }, new { @class = "" })
                            </div>                
                        </div>
                    }
                }

                else
                {
                    <p>You have no posts!!!</p>
                }
              }

            </div>

   </div>

        <div class="col-md-3 col-md-pull-6 col-sm-6">

            <br/>


            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-calendar" id="size"></i> My Events</div>
                <ul class="list-group">

                    @foreach (var eve in Model.MyEvents)
                    {
                        if (DateTime.Now < eve.DateOfEvent)
                        {
                            <li class="list-group-item">
                                @Html.ActionLink(eve.Name, "Details", "Events", new { id = eve.ID }, new { @class = "" })
                            </li>
                        }
                    }
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-users" id="size"></i> My Groups</div>
                <ul class="list-group">
                    @foreach (var group in Model.MyGroups)
                    {
                        <li class="list-group-item">
                            @Html.ActionLink(group.Name, "Details", "Groups", new { id = group.ID }, new { @class = "" })
                        </li>
                    }
                </ul>
            </div>

            <center>
                <div class="btn-group">
                    @Html.ActionLink("Create Group", "Create", "Groups", null, new { @class = "btn btn-default" })
                    @Html.ActionLink("Create Event", "Create", "Events", null, new { @class = "btn btn-default" })
                </div>
            </center>

            <!-- Kodi fyrir klukku fenginn her http://www.alessioatzeni.com/blog/css3-digital-clock-with-jquery/ -->
            <center>
                <div>
                    <ul class="clock">
                        <li id="hours"> </li>
                        <li id="point">:</li>
                        <li id="min"> </li>
                    </ul>
                </div>
            </center>


            <!-- Kodi fyrir dagatal fenginn her https://github.com/oneyoung/jquery-calendar -->
            <center>
                <div>
                    <div class="jquery-calendar"></div>
                </div>
            </center>

        </div>

        <br />

    <div class="col-md-3 col-sm-6">


           <div class="panel panel-default">
                <div class="panel-heading">Following</div>
                <ul class="list-group">
                    <li>
                        @foreach (var item in Model.MyFriends)
                        {
                            <div class="list-group-item">
                                <i class="fa fa-user" id="size"></i> @Html.ActionLink(item.FirstName, "Details", "UserInfoes", new { id = item.Id }, null)
                            </div>
                        }
                    </li>
                </ul>
           </div>

     </div>
</div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
﻿