@model RUbook.Models.TimelineViewModel

@{
    ViewBag.Title = "Timeline";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">My Groups</div>

                <ul class="list-group">
                    @foreach (var group in Model.AllGroups)
                    {
                        //Hérna viljum við að þetta linki inn á heimasíðu hóps
                        <a href="#" class="list-group-item">@group.name</a>
                    }
                </ul>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">My Events</div>
                <ul class="list-group">

                    @foreach (var item in Model.AllEvents)
                    {
                        //Hérna viljum við að þetta linki inn á heimasíðu hóps
                        <a href="#" class="list-group-item">@item.name</a>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <!--þetta þarf að laga eða færa yfir í annað view ef þetta verður margnotað view-->
                @*@Html.TextAreaFor(model => Model.Text, new { @class = "newpost", rows = 3, cols = 100, placeholder = "Something on your mind?" })*@
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
            </div>

            <p>
                @Html.ActionLink("Create Post", "Create", "Post")
            </p>


            <div>
                @foreach (var item in Model.AllPosts)
                {
                    <div class="well">
                        <p>@item.text</p>
                        <p>@item.DateCreated</p>
                    </div>

                }
            </div>


        </div>
        <div class="col-md-3">
            <div>
                <button type="button" class="btn btn-default">@Html.ActionLink("Create Group", "Create", "Groups")</button>


            </div>
            <br>
            <div>
                <button type="button" class="btn btn-default">@Html.ActionLink("Create Event", "Create", "Events")</button>
            </div>
        </div>
    </div>



}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
