@model RUbook.Models.ApplicationUser

@{
    ViewBag.Title = "Create User Info";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h2>Update Your Personal Information</h2>
        <br/>
        <div class="col-md-3">         
            <div>
                <img src="http://www.lumineers.me/images/core/profile-image-zabadnesterling.gif" alt="Your Photo" class="img-rounded" />
            </div>           
        </div>


        <div class="col-md-6">

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", placeholder = "Insert a Source Link" } })
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    <p class="help-block">Here you can choose your personal picture for your Home Page</p>
                </div>
            </div> 

            <!--FirstName-->
            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name", required="required" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--LastName-->
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, "", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Age-->
            <div class="form-group">
                @Html.LabelFor(model => model.DateOfBirth, "", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", placeholder = "Date Of Birth" } })
                    <p class="help-block">Please use the format - mm/dd/yyyy</p>
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Email-->
            @*<div class="form-group">
                @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <!--PhoneNumber-->
            @*<div class="form-group">
                @Html.LabelFor(model => model.Phone, "Phone", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <!--Department-->
            <div class="form-group">
                @Html.LabelFor(model => model.Department, "", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", placeholder = "Department" } })
                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Education Information-->
            <div class="form-group">
                @Html.LabelFor(model => model.Education, "", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(model => model.Education, new { @class = "form-control", rows = 3, cols = 3, placeholder = "Education History" })
                    @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
                </div>
            </div>

            <!--Work Information-->
            <div class="form-group">
                @Html.LabelFor(model => model.WorkInfo, "", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.TextAreaFor(model => model.WorkInfo, new { @class = "form-control", rows = 3, cols = 3, placeholder = "Work History" })
                    @Html.ValidationMessageFor(model => model.WorkInfo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Update" class="btn btn-default" />
                </div>
            </div>
            <div>
                @Html.ActionLink("Cancel", "Index")
            </div>
        </div>


        <div class="col-md-3">
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
