@model RUbook.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}


<h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>


<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="col-md-3">
      
            <img src="@Html.DisplayFor(model =>model.Image)" alt="Group photo" class="img-rounded" />

        <div>
         
        </div>
        </br>
    </div>



    <div class="col-md-6">
        <form class="form-group">
            <dl class="table-striped">
                <dt>
                    @Html.LabelFor(model => model.DateOfBirth, "Date of Birth")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Email, "Email")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                @*<dt>
                        @Html.LabelFor(model => model.Phone, "Phone Number")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Phone)
                    </dd>*@
                <dt>
                    @Html.LabelFor(model => model.Department, "Department")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Education, "Education Information")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Education)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.WorkInfo, "Work Information")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WorkInfo)
                </dd>
            </dl>
        </form>
    </div>


    <div class="col-md-3">
        <!-- hérna vatnar að athuga hver er að skoða síðuna-->
        @*<button type="button" class="btn btn-info">@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) </button>*@
        <!--hérna vantar action link sem addar friend-->
        <button type="button" class="btn btn-primary">@Html.ActionLink("Add Friend", "Create", "Friends", new { id = Model.Id }, null) </button>
    </div>
</div>


