@model RUbook.Models.UserInfo

@{
    ViewBag.Title = "Details";
}


<center>
    <h2>Details - Hér er aðal síða þess sem er loggaður inn</h2>

    <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

    <div>
        <h4>Personal Information</h4>

        <div>
            <img src="http://www.lumineers.me/images/core/profile-image-zabadnesterling.gif" alt="Your Photo" style="width:304px;height:228px">
        </div>
        <form>
            <div class="form-group">
                <label for="exampleInputFile">Add Profile Picture</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Here you can choose your personal picture for your Home Page</p>
            </div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.FirstName, "First Name:")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

               

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

            </dl>
        </form>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <form>
        
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>

    </form>

</center>
