@model RUbook.Models.UserInfo

@{
    ViewBag.Title = "Details";
}

<div class="col-md-3">

    <p>Hérna er dálkur</p>

</div>

<div class="col-md-6">
    <center>
        <h3>Personal Information</h3>
        <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

        <div>

            <div>
                <img src="http://www.lumineers.me/images/core/profile-image-zabadnesterling.gif" alt="Your Photo" style="width:304px;height:228px">
            </div>
        </div>

        </br>
    
        <form class="form-group">
            <dl class="table-striped">
                <dt>
                    @Html.LabelFor(model => model.DateOfBirth, "Date of Birth")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Email, "Email")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Phone, "Phone Number")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Department, "Department")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Education, "Education Information")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Education)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.WorkInfo, "Work Information")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WorkInfo)
                </dd>
            </dl>
        </form>
                
</center>

    <div class="col-md-3">

       
       
       
        <!-- hérna vatnar að athuga hver er að skoða síðuna-->

            <button type="button" class="btn btn-info">@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) </button>
       
           <!--hérna vantar action link sem addar friend-->
            <button type="button" class="btn btn-primary">Add Friend</button>
        
     
    </div>

</div>
