@model RUbook.Models.UserInfo

@{
    ViewBag.Title = "Details";
}

<div class="col-md-3">

    <p>Hérna er dálkur</p>

</div>

<div class="col-md-6">
    <center>
        <h3>Personal Information</h3>
        <h2>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

        <div>

            <div>
                <img src="https://scontent-lhr.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/q82/p720x720/10403100_10153157901727682_3389131421760009794_n.jpg?oh=107d7a71f6aa30215b3e77af80705791&oe=55D7E730" alt="Your Photo" class="img-circle" style="width:304px;height:228px">
            </div>
        </div>

        </br>
    
        <form class="form-group">
            <dl class="table-striped">
                <dt>
                    @Html.LabelFor(model => model.DateOfBirth, "Date of Birth")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateOfBirth)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Email, "Email")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Phone, "Phone Number")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Department, "Department")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Department)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Education, "Education Information")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Education)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.WorkInfo, "Work Information")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WorkInfo)
                </dd>
            </dl>
        </form>

            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            </p>
        
</center>

    <div class="col-md-3">

  
    </div>

</div>
