@model IEnumerable<RUbook.Models.UserInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<<<<<<< HEAD
=======
<p>
    @Html.ActionLink("Create New User", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        
        <th></th>
    </tr>
>>>>>>> 550342d42ad6eaa2d849a9f5f14527597421c42f

<table class="table">
  
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.FirstName + " " + item.LastName, "Details", new { id = item.ID })
        </td>
        <td>
            <!-- hérna vantar if ef þeir eru vinur þá gerist eitthvað annað-->
            @Html.ActionLink("Send Friend request", "AddFriend", new { id=item.ID })
        </td>
    </tr>
}

</table>
