@using RUbook.Models
@model LoginViewModel
@{
    ViewBag.Title = "Please sign in";
}

@Html.AntiForgeryToken()
<div class="container">
    <center>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form class="form-signin">
            <h2 class="form-signin-heading">Welcome to RUbook</h2>
            <label for="inputEmail" class="sr-only">Ru e-mail</label>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            <input type="email" id="inputEmail" class="form-control" placeholder="Ru e-mail" required autofocus />
            <label for="inputPassword" class="sr-only">Password</label>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required />
            <div class="checkbox">
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
            </div>
            <div>
                <button class="btn btn-lg btn-info" type="submit">Sign in</button>
            </div>
            <p>
                @Html.ActionLink("Not a member yet? Sign up now!", "Register")
            </p>
        </form>
    </center>
</div>​

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}