@model RUbook.Models.RegisterViewModel
@{
    ViewBag.Title = "Not a member yet? Sign up now!";
}
@*<center> <h2>@ViewBag.Title</h2> </center>*@
    <div class="container">
    <center>
        <section id="loginForm">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Not a member yet? Sign up now!</h3>
                
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">

                    @* @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "RU-email" })
                    </div>
                </div>
                <div class="form-group">
                    @*  @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>
                </div>
                <div class="form-group">
                    @* @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                    <div>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                    </div>
                </div>
                <div class="form-group">
                    <div >
                        <button class="btn btn-lg btn-info" type="submit">Sign in</button>
                    </div>
                </div>
            }
        </section>
    </center>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
