<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RUbook</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Microsoft.AspNet.Identity;

    <meta name="RUbook" content="Social media for students and faculty of The University of Reykjavík" />
    <meta name="description" content="Social media for students and faucilty of The University of Reykjavík" />
</head>

<body>
    <div class="navbar  navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RUbook", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Timeline", "Index", "Home")</li>
                    <li>@Html.ActionLink("My Profile", "Details", "UserInfoes", new {id = User.Identity.GetUserId()}, null)</li>
                    <li>@Html.ActionLink("All Groups", "Index", "Groups")</li>
                    <li>@Html.ActionLink("All Events", "Index", "Events")</li>
                    <li>@Html.ActionLink("All Users", "Index", "UserInfoes")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <div>
        <footer>
            <br/>
            <p class="help-block">&copy; @DateTime.Now.Year - RUbook - Social media for students and faculty of The University of Reykjavík</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryUI")
    @RenderSection("scripts", required: false)
</body>
</html>
