@model RUbook.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.name)</h2>

<div>

    <h4>@Html.DisplayFor(model => model.text)</h4>

    <hr />

   

    <div class="col-md-3">

        <img src="https://d18qs7yq39787j.cloudfront.net/public/defaults/default_group.png" alt="Group photo" />

        <form action="" method="post" enctype="multipart/form-data">

            <label for="file">Choose group photo:</label>
            <input type="file" name="file" id="file" />

            <input type="submit" />
        </form>
   
     

    </div>

    <div class="col-md-6">

        <dl class="dl-horizontal">
            <dt>
                @Html.LabelFor(model => model.name, "Name of Group")

            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <!--Hérna þurfum við að fá date og time til að vera sitt hvort eða fá þetta til að birtast fallegra-->
            <dt>
                @Html.LabelFor(model => model.text, "Description")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.text)
            </dd>
            <dt>
                @Html.LabelFor(model => model.course, "Course")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.course)
            </dd>

            <!--hérna mætti tengja departmentID við líka-->

        </dl>

        <p> Hérna viljum við að group posts komi</p>
    </div>

    <div class="col-md-3">
        <div>
            <button type="button" class="btn btn-default">@Html.ActionLink("Create Group", "Create", "Groups")</button>
            <button type="button" class="btn btn-default">@Html.ActionLink("Create Event", "Create", "Events")</button>
        </div>

        <br />
        <br />

        <div class="panel panel-default">
            <div class="panel-heading">Attending Event</div>

            <ul class="list-group">

                <!--Linkur á notanda sem er skráðður í event-->
                <a href="#" class="list-group-item">Notandi 1</a>
                <a href="#" class="list-group-item">Notandi 2</a>

            </ul>
        </div>

        <br />
        <br />

    </div>


</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
