@model RUbook.Models.ViewModels.GroupViewModel
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Group.Name)</h2>

<div>
    
    <hr />

    <div class="col-md-3">

        <!--Þessi if setning er ekki alveg að virka eins og hún á að gera, birtir aldrei default myndina-->
        @if (Model.Group.Image == null || Model.Group.Image == "")
        {
            <img src="https://d18qs7yq39787j.cloudfront.net/public/defaults/default_group.png" alt="Friend Photo" />
        }
        else
        {
            <img src="@Html.DisplayFor(model => model.Group.Image)" alt="Friend Photo" class="img-rounded" />
        }


        @if(Model.Group.userID.Id == User.Identity.GetUserId() )

        <br />
        {
            @Html.ActionLink("Edit Group", "Edit", new { id = Model.Group.ID }, new { @class = "btn btn-default btn-block linkcolor" })
        }

    </div>

    <div class="col-md-6">
    
        <div class="panel panel-collapse">
            <dl class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.Group.Name, "Name of Group")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Group.Name)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Group.Text, "Description")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Group.Text)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Group.Course, "Course")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Group.Course)
                </dd>
            </dl>
        </div>
        <div class="panel panel-heading">
            <div>
                <div>
                    <center>
                        @Html.ActionLink("Create New Post For Group Wall", "Create", "Post", new { id = Model.Group.ID }, new { @class = "btn btn-default btn-block" })
                    </center>
                </div>

                <br />

                @{if (Model.Group.Posts != null)
                {
                    foreach (var post in Model.Group.Posts)
                    {
                        <div class="well">
                            <h3>@post.UserID.FirstName</h3>
                            <p>@post.Text</p>
                            @if (post.Image != null)
                            {
                                <img src="@post.Image" alt="Hérna er mynd" />
                            }
                            <hr />

                            <p><i class="fa fa-clock-o"></i> @post.DateCreated</p>

                            
                            <div class="left">
                                @Html.ActionLink("Add Comment", "Details", "Post", new { id = post.ID }, new { @class = "" })
                            </div>
                        </div>

                    }
                }

                else
                {
                    <p>You have no posts!!!</p>
                }
                }

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <center>
            <div class="btn-group">
                @Html.ActionLink("Create Group", "Create", "Groups", new { @class = "btn btn-default btn-block" })
                @Html.ActionLink("Create Event", "Create", "Events", new { @class = "btn btn-default btn-block" })
            </div>
        </center>

        <br />
        <div>
            
            @Html.ActionLink("Join Group", "Create", "GroupMembers", new { id = Model.Group.ID }, new { @class = "btn btn-success btn-block linkcolor" })
        </div>

        <br />

        <div class="panel panel-default">
            <div class="panel-heading">Group members</div>
            <ul class="list-group">
                <li>
                    @if (Model.GroupMembers != null)
                    {
                        foreach (var member in Model.GroupMembers)
                        {
                            <div class="list-group-item">
                                <i class="fa fa-user" id="size"></i> @Html.ActionLink(member.FirstName, "Details", "UserInfoes", new { id = member.Id })
                            </div>
                        }
                    }
                </li>
            </ul>

        </div>

        <br />
        <br />

    </div>


</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
