@model RUbook.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    
    <hr />

    <div class="col-md-3">

        <!--Þessi if setning er ekki alveg að virka eins og hún á að gera, birtir aldrei default myndina-->
        @if (Model.Image == null || Model.Image == "")
        {
            <img src="https://d18qs7yq39787j.cloudfront.net/public/defaults/default_group.png" alt="Friend Photo" />
        }
        else
        {
            <img src="@Html.DisplayFor(model =>model.Image)" alt="Friend Photo" class="img-rounded" />
        }

        <!--þetta vil ég bara sjá þegar notandi sem bjó til síðu er loggaður inn-->
        @Html.ActionLink("Edit Group", "Edit", new { id = Model.ID })


    </div>

    <div class="col-md-6">
    
        <div class="panel panel-collapse">
            <div class="dl-horizontal">
                <dt>
                    @Html.LabelFor(model => model.Name, "Name of Group")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Text, "Description")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Text)
                </dd>
                <dt>
                    @Html.LabelFor(model => model.Course, "Course")
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Course)
                </dd>
                <!--hérna mætti tengja departmentID við líka-->
            </div>
        </div>
        <div class="panel panel-heading">
            <div>
                <div>
                    <center>
                        <button type="button" class="btn btn-default">@Html.ActionLink("Create New Post For Group Wall", "Create", "Post", new { id = Model.ID}, new { @class = "" }) </button>
                    </center>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div>
            <button type="button" class="btn btn-default">@Html.ActionLink("Create Group", "Create", "Groups")</button>
            <button type="button" class="btn btn-default">@Html.ActionLink("Create Event", "Create", "Events")</button>
        </div>

        <br />
        <div>
            
            <button type="button" class="btn btn-primary btn-block">@Html.ActionLink("Join Group", "Create", "GroupMembers", new { id = Model.ID }, null) </button>
        </div>

        <br />

        <div class="panel panel-default">
            <div class="panel-heading">Group members</div>

            <ul class="list-group">

                <!--action linkur á notanda í forech loopu sem er skráðður í event-->
                <a href="#" class="list-group-item">Notandi 1</a>
                <a href="#" class="list-group-item">Notandi 2</a>

            </ul>
        </div>

        <br />
        <br />

    </div>


</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
